/TestRomain/ConvertRomain/bin/*
/TestRomain/ConvertRomain/obj/*
/TestRomain/ConvertRomain.Tests/bin/*
/TestRomain/ConvertRomain.Tests/obj/*
/TestRomain/ConvertRomain.sln.DotSettings.user
/TestRomain/ConvertRomain.sln.DotSettings

# Ignorar arquivos de build e cache do projeto principal
/Calculator/CalculatorProj/bin/
/Calculator/CalculatorProj/obj/

# Ignorar arquivos de build e cache do projeto de testes
/Calculator/CalculatorProj.Tests/bin/
/Calculator/CalculatorProj.Tests/obj/

# Ignorar arquivos específicos de cache do NuGet (caso deseje ser mais explícita)
/Calculator/CalculatorProj/obj/*.nuget.*
/Calculator/CalculatorProj.Tests/obj/*.nuget.*
/Calculator/CalculatorProj/obj/project.*
/Calculator/CalculatorProj.Tests/obj/project.*

# Ignorar arquivos de build e cache do projeto principal
/SalaryCalculator/SalaryCalc/bin/
/SalaryCalculator/SalaryCalc/obj/

# Ignorar arquivos de build e cache do projeto de testes
/SalaryCalculator/SalaryCalc.Tests/bin/
/SalaryCalculator/SalaryCalc.Tests/obj/

# Ignorar arquivos específicos de cache do NuGet (caso deseje ser mais explícita)
/SalaryCalculator/SalaryCalc/obj/*.nuget.*
/SalaryCalculator/SalaryCalc.Tests/obj/*.nuget.*
/SalaryCalculator/SalaryCalc/obj/project.*
/SalaryCalculator/SalaryCalc.Tests/obj/project.*

# Ignorar arquivos de build e cache do projeto principal
/ConvertMorseCod/MorseCod/bin/
/ConvertMorseCod/MorseCod/obj/

# Ignorar arquivos de build e cache do projeto de testes
/ConvertMorseCod/MorseCod.Tests/bin/
/ConvertMorseCod/MorseCod.Tests/obj/

# Ignorar arquivos específicos de cache do NuGet (caso deseje ser mais explícita)
/ConvertMorseCod/MorseCod/obj/*.nuget.*
/ConvertMorseCod/MorseCod.Tests/obj/*.nuget.*
/ConvertMorseCod/MorseCod/obj/project.*
/ConvertMorseCod/MorseCod.Tests/obj/project.*

